/* VARIABLES */
:root {

    /* Colors */
    --col-white: #ffffff;
    --col-black: #000000;
    --col-lightgray: #727272;
    --col-gray: #363636;
    --col-darkgray: #1f1f1f;
    --col-orange: #cd3d0f;
    --col-blue: #2d64e6;
}

/* COMMON */
html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit; 
}

/* UTILITIES */
/* Text Colors */
.ms_col-white {
    color: var(--col-white);
}

.ms_col-black {
    color: var(--col-black);
}

.ms_col-darkgray {
    color: var(--col-darkgray)
}

/* Backgrounds Colors*/
.ms_bg-black {
    background-color: var(--col-black);
}

.ms_bg-white {
    background-color: var(--col-white);
}

.ms_bg-gray {
    background-color: var(--col-gray);
}

.ms_bg-orange {
    background-color: var(--col-orange);
}

.ms_bg-blue {
    background-color: var(--col-blue);
}

/* Buttons */
.ms_btn {
    padding: 0.9rem  1.3rem;

    font-size: 1.6rem;
    font-weight: 600;
    
    border-radius: 5rem;
}

/* Layout */
.ms_container {
    width: 95%;
    margin: 0 auto;
}

.ms_container-max-600 {
    max-width: 600px;
    margin: 0 auto;
}

.ms_section {
    /* DEBUG */
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.ms_jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    
    width: 100%;
    min-height: 60rem;
    color: white;
    
    /* DEBUG */
    margin-top: 10rem;
}

.ms_jumbotron img {
    padding-bottom: 4rem;
}

.ms_jumbotron h2 {
    font-size: 4.2rem;
    padding-bottom: 3rem;
}

.ms_jumbotron p {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 3rem;
}

.ms_card-rounded {
    border-radius: 2rem;
    overflow: hidden;
}

/* Typography */
.ms_section-title h2 {
    font-size: 4rem;
    font-weight: 600;

    padding-bottom: 3rem;

    color: var(--col-darkgray);
}

.ms_section-title h4 {
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--col-blue);
}

.ms_section-title p {
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: -0.05rem;

    /* padding-bottom: 3rem; */

    color: var(--col-lightgray);
}


/* HEADER */
/* Logo bar */
.ms_logo-bar img {
    width: 80px;
}

/* MAIN */
/* Jumbotron 1 */
.ms_jumbotron-1 {
    background-image: url(../img/jumbo-bg.png);
}

/* Titles */

/* PlayStation 5 section */
/* Introduction */
.ms_introduction h4 {
    text-transform: uppercase;
}

/* PlayStation 5 components */
.ms_components .ms_card {
    font-size: 1.5rem;
    font-weight: 600;

    text-align: center;

    height: 100%;
    opacity: 0.5;
}

.ms_components .ms_card.ms_active {
    opacity: 1;

    border-bottom: 2px solid var(--col-blue);
}

@media screen and (min-width:768px) {
    .ms_components .ms_card img {
        width: 50%;
    }
}

.ms_component-description {
    text-align: center;
}

/* Jumbotron 2 */
.ms_jumbotron-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* New titles */
.ms_new-titles {
    /* DEBUG */
    color: white;
}

/* PlaystationPlus section*/
.ms_playstation-plus {
    background-color: #bebcbb;
}

/* PlaystationNow section */
.ms_playstation-now {
    color: #ffffff;
    background-color: #161c3b;
}

/* Social links */
.ms_social img {
    /* max-width: 200px; */
}

/* Footer */
/* Footer top */
.ms_footer-top {
    color: #ffffff;
    background-color: #00439c;
}