/* COMMON */
html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

.ms_container {
    width: 95%;
    margin: 0 auto;
}

.ms_container-max-600 {
    max-width: 600px;
    margin: 0 auto;
}

.ms_section {
    /* DEBUG */
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.ms_jumbotron {
    background-size: cover;
    background-position: center;

    /* DEBUG */
    padding-top: 400px;
    width: 100%;
    height: 600px;
    background-color: brown;
    color: white;
}

/* HEADER */
/* Logo bar */
.ms_logo-bar img {
    width: 80px;
}

/* MAIN */
/* Jumbotron 1 */
.ms_jumbotron-1 {
    background-image: url(../img/jumbo-bg.png);
}

/* Titles */
.ms_card {
    /* DEBUG */
    border: 1px dashed white;
}

/* PlayStation 5 section */
/* Introduction */
.ms_introduction h4 {
    text-transform: uppercase;
}

/* PlayStation 5 components */
.ms_component-description {
    text-align: center;
}

/* Jumbotron 2 */
.ms_jumbotron-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* New titles */
.ms_new-titles {
    /* DEBUG */
    color: white;
}

/* PlaystationPlus section*/
.ms_playstation-plus {
    background-color: #bebcbb;
}

/* PlaystationNow section */
.ms_playstation-now {
    color: #ffffff;
    background-color: #161c3b;
}

/* Social links */
.ms_social img {
    /* max-width: 200px; */
}